.App {
  text-align: center;
  font-family: roboto;
  font-size: 16px;
}

.desc-wrapper{
  max-width: 900px;
  margin: 0px auto;
}
.desc{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 100px;
}
.desc div{
  flex: 3;
}
.desc div:nth-child(1){
  flex: 1;
}

.heading{
  font-size: 25px;
  margin-top: 30px;
  font-family: 'Roboto Mono', monospace;
}

.button-section-wrapper{
  max-width: 1000px;
  margin: 0px auto;
}
.button-section{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
}
.button-section > div{
  display: flex;
  flex-direction: column;
  color:#4C4B4B;
}
.button-section button{
  background-color: #469EA2;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  margin-top: 15px;
  cursor: pointer;
}

.footer{
  background:black;
  height:500px;
  margin-top: 40px;
}
.footer-item-wrapper{
  max-width: 800px;
  margin: 0px auto; 
}

.footer-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  color: white;
  padding-top:50px;
}

.footer-item > div{
  flex:1;
  display: flex;
  flex-direction: column;
}

.count{
  margin-top:15;
}